.table-data {
  font-family: "Ubuntu", sans-serif;
  border-collapse: collapse;
  overflow-x: auto;
  width: 100%;
}
.table-data td {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.table-data th,
.table-data td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-data th {
  background-color: #eeee00;
  height: 50px;
  text-align: left;
  font-weight: bold;
  color: #333;
  font-size: 1.2rem;
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
}
tr:hover {
  background-color: rgb(243, 225, 243);
}
.table-data thead {
  position: sticky;
  top: 79px;
  z-index: 99;
}
.table-data{
  overflow: auto;
}

.dropdown-container {
position: relative;
display: inline-block;
}

.dropdown-button {
background-color: blue;
color: white;
padding: 10px 15px;
border: none;
cursor: pointer;
border-radius: 4px;
font-size: 16px;
transition: all 0.3s ease;
}

.dropdown-button:hover {
background-color: darkblue;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
border-radius: 4px;
padding: 5px;
overflow: hidden;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
transition: all 0.3s ease;
}

.dropdown-content a:hover {
background-color: #f1f1f1;
}

.dropdown-container:hover .dropdown-content {
display: block;
}