/* .table-data {
  font-family: "Ubuntu", sans-serif;
  border-collapse: collapse;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.table-data td {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
}

.table-data th,
.table-data td {
  border: 1px solid #ddd;
  padding: 8px;
  width: 100%;
}

.table-data th {
  background-color: #eeee00;
  height: 50px;
  text-align: left;
  font-weight: bold;
  color: #333;
  font-size: 1.2rem;
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
}
tr:hover {
  background-color: rgb(243, 225, 243);
  width: 100%;
}
.table-data Thead {
  position: sticky;
  top: 70px;
  left: 0%;
  z-index: 99;
  width: 100%;
  overflow: scroll;
}
.table-data Tbody{
  position: relative;
  top: 50px;
  width: 100%;
  height: 70vh;

} */

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  /* outline: 1px solid red; */
}

/* *,
*:before,
*:after {
  box-sizing: inherit;
} */
/* 
body {
  color: rgba(0, 0, 0, 0.87);
} */
/* 
a {
  color: rgb(38, 137, 13);
}
a:hover, a:focus {
  color: rgb(4, 106, 56);
} */

.Tablecontainer {
  /* margin: 5% 3%; */
  border: 1px solid red;
  margin: 0%;
}
.responsive-table {
  width: 100%;
  border-spacing: 0;
}
@media (min-width: 48em) {
  .responsive-table {
    font-size: 0.9em;
  }
}
@media (min-width: 62em) {
  .responsive-table {
    font-size: 1em;
  }
}
.responsive-table thead {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
@media (min-width: 48em) {
  .responsive-table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
}
tr:hover {
  background-color: rgb(243, 225, 243);
  width: 100%;
}
.responsive-table thead th {
  background-color: #eeee00;
 border: 1px solid #ddd;
  font-weight: bold;
  color: #333;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.responsive-table thead th:first-of-type {
  text-align: left;
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
  display: block;
  padding: 0;
  text-align: left;
  white-space: normal;
}
@media (min-width: 48em) {
  .responsive-table tr {
    display: table-row;
  }
}
.responsive-table th,
.responsive-table td {
  padding: 0.5em;
  vertical-align: middle;
}
@media (min-width: 30em) {
  .responsive-table th,
.responsive-table td {
    padding: 0.75em 0.5em;
  }
}
@media (min-width: 48em) {
  .responsive-table th,
.responsive-table td {
    display: table-cell;
    padding: 0.5em;
  }
}
@media (min-width: 62em) {
  .responsive-table th,
.responsive-table td {
    padding: 0.75em 0.5em;
  }
}
@media (min-width: 75em) {
  .responsive-table th,
.responsive-table td {
    padding: 0.75em;
  }
}
.responsive-table caption {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 48em) {
  .responsive-table caption {
    font-size: 1.5em;
  }
}
.responsive-table tfoot {
  font-size: 0.8em;
  font-style: italic;
}
@media (min-width: 62em) {
  .responsive-table tfoot {
    font-size: 0.9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody {
    display: table-row-group;
  }
}
.responsive-table tbody tr {
  margin-bottom: 1em;
}
@media (min-width: 48em) {
  .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
  }
}
.responsive-table tbody tr:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 48em) {
  .responsive-table tbody tr:nth-of-type(even) {
    background-color: #ddd;
  }
}
.responsive-table tbody th[scope=row] {
  background-color: #ddd;
  color: white;
}
@media (min-width: 30em) {
  .responsive-table tbody th[scope=row] {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody th[scope=row] {
    background-color: transparent;
    color: rgb(0, 0, 1);
    text-align: left;
    /* border: 1px solid green; */
  }
}
.responsive-table tbody td {
  text-align: right;
}
@media (min-width: 48em) {
  .responsive-table tbody td {
    border-left: 1px solid #c8c5c5;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td:last-of-type {
    border-right: 1px solid #ddd;
  }
}
.responsive-table tbody td[data-type=currency] {
  text-align: right;
}
.responsive-table tbody td[data-title]:before {
  content: attr(data-title);
  float: left;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.54);
}
@media (min-width: 30em) {
  .responsive-table tbody td[data-title]:before {
    font-size: 0.9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td[data-title]:before {
    content: none;
  }
}


.dropdown-Tablecontainer {
position: relative;
display: inline-block;
/* background-color: black; */
}

.dropdown-button {
background-color: blue;
color: white;
padding: 7px;
border: none;
cursor: pointer;
border-radius: 4px;
font-size: 16px;
transition: all 0.3s ease;
}

.dropdown-button:hover {
background-color: darkblue;
}

.dropdown-content {
display: none;
position: absolute;
background-color: rgb(211, 208, 208);
min-width: 140px;
/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
z-index: 1;
border-radius: 4px;
padding: 5px;
overflow: hidden;
}

.dropdown-content label {
color: black;
background-color: #ffffff;
padding: 5px;
text-decoration: none;
display: inline-block;
width: 80%;
transition: all 0.3s ease;
border: 1px solid black;
}

.dropdown-content label:hover {
background-color: skyblue;

}

.dropdown-Tablecontainer:hover .dropdown-content {
display: block;
}
/* @media only screen and (max-width: 767px) {
.table-data thead {
position: fixed;
width: 100%;
overflow: auto;
}
.table-data tbody{
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
}
Tbody tr{
  width: 100%;
  margin: auto;
  /* margin: 20px; */
  /* border-radius: 10px; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
/* } */

/* .table-data td { */
/* display: block; */
/* border: none;
text-align: center;
justify-content: center;
border: 1px solid #ddd;
} */
/* Tbody > tr :nth-child(6){
  align-items: center;
}
Tbody > tr :nth-child(6)>div{
  margin: auto;
  border: 2px solid red;
  vertical-align: middle;
  width: 50%;
} */
/* .table-data td:first-child {
font-weight: bold;
}

.table-data td:before {
content: attr(data-label); /* Adds a label to each cell */
/* font-weight: bold;
display: inline-block;
}
} */ 